spring:
  profiles:
    active: prod
  config:
    activate:
      on-profile: prod
---
spring:
  kafka:
    producer:
      bootstrap-server: prod:9092, prod:9093, prod:9094
      key-serializer: org.apache.kafka.common.serialization.IntegerSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer